* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* added external fonts */
@font-face {
  font-family: "blinker";
  src: url(../fonts/Blinker-Regular.woff) format(woff);
}
@font-face {
  font-family: "AsapCondensed";
  src: url(../fonts/AsapCondensed-Regular.woff) format(woff);
}

body {
  color: #292929;
  /* font-family: blinker, monospace; */
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
a {
  color: #4a5e69;
  text-decoration: none;
  font-style: normal;
  transition: all 0.3s;
}
a:hover {
  color: #292929;
}
.container {
  display: flex;
  width: 794px; /* Approximate width for A4 (assuming 96 pixels per inch) */
  height: 1123px; /* Approximate height for A4 (assuming 96 pixels per inch) */
  background-color: #d7f2ff;
  margin: auto ;
}
.sidebar {
  width: 280px;
  min-height: 1123px;
}

.profile-img-cont {
  position: relative;
  width: 170px;
  height: 300px;
  background-color: #ffffff;
  margin: auto;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.profile-img-box {
  position: absolute;
  bottom: 0;
  width: 170px;
  height: 220px;
  background-image: url(../images/sadeq-yaqobi-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
/* contact */
.contact {
  margin: 50px 0 30px 50px;
  line-height: 35px;
  font-size: 16px;
}
.contact ul {
  list-style: none;
}
.contact i {
  margin-right: 10px;
}
/* skills */
.skills-container {
  background-color: #ffffff;
  padding: 30px 0 30px 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  line-height: 30px;
}
.title {
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.subtitle {
  letter-spacing: 0.2px;
  font-size: 15px;
  text-transform: capitalize;
}
.text {
  line-height: 32px;
  text-align: justify;
}
.skills-container ul {
  list-style-position: inside;
  padding: 0 0 0 20px;
  border-left: dotted #4a5e69 3px;
}
.skills-container li {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}
/* education */
.education {
  margin: 50px 0 30px 50px;
}
.education p {
  line-height: 35px;
}
/* main header */
.main {
  position: relative;
  width: calc(100% - 280px);
}
.main-header {
  width: 100%;
  text-align: center;
}
.name-container {
  display: inline-flex;
  width: calc(100%-40px);
  flex-direction: column;
  align-items: center;
  border-bottom: #4a5e69 dotted 3px;
  margin: 40px 0 60px 0;
}
.name-title {
  font-family: AsapCondensed;
  font-size: 70px;
  letter-spacing: 7px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.name-subtitle {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 23px;
  color: #4a5e69;
}
/* main-body */
.main-body {
  padding: 0 40px 0 40px;
}
/* experience-title  */
.experience-title {
  margin: 20px 0 14px 0;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
}
/* experience-items */
.experience-items {
  font-size: 14px;
  padding-left: 20px;
  line-height: 32px;
  text-align: justify;
}
.link-project {
  font-style: italic;
}

/* QRcode */
.main-footer {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: calc(100% - 40px);
  height: 130px;
  margin-top: 15px;
  background-color: #4a5e69;
  color: #c3c8c4;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.QRcode-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 20px;
}
.QRcode-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.QRcode-text {
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
}
@media (max-width: 576px) {
  .container{
     min-width: 100%;
     min-height: 100%;
  }
  .text{
    font-size: 14px;
    line-height: 25px;
  }
  
}